@media (max-width: 500px) {
	.vl {
		display: none;
		/* 숨기기 */
	}

	.index-self {
		display: flex;
		flex-direction: column;

		align-items: center;
	}

}

.vl {
	border-left: 2px solid black;
	height: 45%;
	position: absolute;
	left: 50%;
	top: 1rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a,
a:link,
a:visited {
	color: black;
	text-decoration: none;
}

li {
	list-style: none;
}

section {
	padding: 1% 0;
}

section .left h2 {
	font-size: 3rem;
	margin-bottom: 5%;
}

section .left p {
	font-size: 1.25rem;

}

section .index-self .left {
	float: left;
	width: 35%;
	margin-top: 5%;
	margin-left: 10%;
}

section .right h2 {

	color: #6A24FE;
	margin-bottom: 3%;
}

section .index-self .right {
	width: 40%;
	float: right;
	padding: 0 2rem;
	margin-top: 5%;
	margin-right: 8%;
}

section .index-self .right ::placeholder {
	color: #d2d2d2;
}

section .index-self .right input {
	width: 100%;
	height: 40px;
	padding: 0 10px;
	margin-bottom: 3%;
	border-radius: 6px;
	background-color: #f8f8f8;
	outline: none;
	border-radius: 10px;
	border: 1px solid #ccc;
}

section .index-self .right input[type="submit"] {
	color: #fff;
	font-size: 16px;
	background-color: #6a24fe;
	margin-top: 3%;

}

section .contact-me .left .card {
	border: 1px solid #ccc;
	padding: 2%;
}

section .contact-me .left {
	width: 30%;
	margin-top: 15%;
	float: left;
}

section .contact-me .right {
	width: 35%;
	margin: 0 auto;
	border: 1px solid #ccc;
	padding: 2%;
	margin-top: 20%;
}

section .contact-me .right .contactform input {
	width: 100%;
	height: 25px;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 0 10px;
}

section .contact-me .right .contactform textarea {
	width: 100%;
	height: 100px;
	outline: none;
	resize: none;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 16px;
	padding: 0 10px;
}

section .contact-me .right button {
	color: #fff;
	width: 100%;
	padding: 1rem;
	font-size: 16px;

	background-color: #6a24fe;
}