.box2 {
	float: right;
	padding-right: 15%;
	padding-top: 3%;
}

.box1 {
	float: left;
	padding-left: 15%;
	padding-top: 1%;
}

.box1 li {
	margin-top: 3%;
}

body {
	font-size: 20px;
	/* 원하는 크기로 조절하세요. */
}

.box6 {

	color: #fff;
	background-color: #4e73df;
	border-color: #4e73df;
}

#catalTypeInfo {
	font-size: 24px;
}

.sticky-footer {
	font-size: 24px;
}

footer span {
	font-size: 16px;
}